<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inscription réussie - Caisse des Officiers du GMMG</title>

    <link rel="stylesheet" href="/static/style2.css">

</head>

<body>

    <div class="success-container">

        <div class="logo">

            <img
                src="/static/images/logo-gmmg.png"
                alt="Logo GMMG"
            >

        </div>

        <div class="success-icon">
            ✓
        </div>

        <h1>
            Inscription réussie
        </h1>

        <div class="ligne-orange"></div>

        <a
            href="/connexion/"class="btn-connexion" >
            SE CONNECTER
        </a>

    </div>

    <script src="/static/js/inscription-reussie.js"></script>

</body>

</html>
